{% extends "layout/base.html" %}
{% block content %}  
  <!-- POST: STATIC/DYN -->
  <section class="static">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="static-inner">
            <h2>{{ statis.title }}</h2>
            <div class="time">{{ statis.date_post }} A.M.</div>
            <div class="content">
              {{ statis.content | safe }}
            </div>
          </div>
        </div>
        {% include "layout/sidebar.html" %}
      </div>
    </div>
  </section>
{% endblock %}
